# Core directory files
/Core/*
!Please_copy_cubism_core_for_web
# Package files
node_modules/
# Build files
dist/
# Other files
.vs/
.idea/
*.iml
.DS_Store
# Exclude some VSCode setting files.
.vscode/*
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/settings.json
!/.vscode/tasks.json
